[Desktop Entry]
Version=1.0
Type=Link
Name=Réunions - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/reunions/reunions
