[Desktop Entry]
Version=1.0
Type=Link
Name=Séance publique - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/travaux-parlementaires/seance-publique
