[Desktop Entry]
Version=1.0
Type=Link
Name=Tous les amendements - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/travaux-parlementaires/amendements/tous-les-amendements
