[Desktop Entry]
Version=1.0
Type=Link
Name=Liste simplifiée des mandats - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/acteurs/liste-simplifiee-des-mandats
