[Desktop Entry]
Version=1.0
Type=Link
Name=Députés-sénateurs-ministres de la législature - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/acteurs/deputes-senateurs-ministres-de-la-legislature
