[Desktop Entry]
Version=1.0
Type=Link
Name=Députés nommés dans les organismes extra-parlementaires - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/acteurs/deputes-nommes-dans-les-organismes-extra-parlementaires
