[Desktop Entry]
Version=1.0
Type=Link
Name=Questions orales sans débat - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/questions/questions-orales-sans-debat
