[Desktop Entry]
Version=1.0
Type=Link
Name=Votes - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/travaux-parlementaires/votes
