[Desktop Entry]
Version=1.0
Type=Link
Name=Historique des députés - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/acteurs/historique-des-deputes
