[Desktop Entry]
Version=1.0
Type=Link
Name=Questions écrites - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/questions/questions-ecrites
