[Desktop Entry]
Version=1.0
Type=Link
Name=Opendata - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/dossierLeg/liste-amendements
