[Desktop Entry]
Version=1.0
Type=Link
Name=Questions au Gouvernement - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/questions/questions-au-gouvernement
