[Desktop Entry]
Version=1.0
Type=Link
Name=Députés en exercice - Assemblée nationale
Comment=
Icon=user-bookmarks
URL=https://data.assemblee-nationale.fr/acteurs/deputes-en-exercice
