[Desktop Entry]
Version=1.0
Type=Link
Name=5.2. Identifiants uniques des entités au sein du référentiel législatif — documentation Base de connaissances du Référentiel Législatif 0.9.8
Comment=
Icon=user-bookmarks
URL=https://www.assemblee-nationale.fr/opendata/Implementation_Referentiel/Identifiants_Referentiels.html#identifiantuniquedesentites
