[Desktop Entry]
Version=1.0
Type=Link
Name=Bienvenue dans la Base de connaissances du Référentiel Législatif et de l’OpenData ! — documentation Base de connaissances du Référentiel Législatif 0.9.8
Comment=
Icon=user-bookmarks
URL=https://www.assemblee-nationale.fr/opendata/index_pub.html
