[Desktop Entry]
Version=1.0
Type=Link
Name=Index — documentation Base de connaissances du Référentiel Législatif 0.9.8
Comment=
Icon=user-bookmarks
URL=https://www.assemblee-nationale.fr/opendata/genindex.html
